.compare-display {
  display: flex;
  justify-content: space-around;
  margin: 20px auto;
  max-width: 786px;
}

.compare-container {
  display: flex;
  justify-content: center;
  min-width: 250px;
  opacity: 0;
  transition: 0.5s;
  visibility: hidden; 
  width: 33.33%;
}

.compare-instructions {
  margin: auto;
  text-align: center;
}

.show {
  opacity: 1;
  visibility: visible; 
}