.data-card {
  align-items: center;
  box-shadow: 0 0 1px 1px #d2d2d2;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin: 10px;
  width: 240px;
}

.data-card:hover {
  cursor: pointer;
}

.data-card h5 {
  border-bottom: 1px solid #d2d2d2;
  font-family: Helvetica;
  font-weight: bold;
  font-size: 18px;
  height: 42px;
  margin: 35px 15px 15px;
  text-align: center;
  width: 70%;
}

.data-card li {
  font-weight: bold;
  position: relative;
}

.data-card i {
  color: #204298;
  font-size: 12px;
  left: -18px;
  position: absolute;
  width: 12px;
}

.highlight {
  box-shadow: 0 0 1px 1px red;
}

.red {
  color: #D62C2C;
}

.blue {
  color: #204298;
}