.site-header {
  align-items: center;
  background-color: #0A0D3E;
  display: flex;
  height: 60px;
  justify-content: space-between;
  width: 100%;
}

.site-header h3 {
  color: white;
  font-size: 30px;
  margin-left: 15px;
}
